<section class="detail-container">
  <div class="book-container">
    <ul class="row">
        <li class="col-lg-2 col-3"></li>
        <li class="col-lg-8 col-7">
          <div class="book-category">
            <p><a href="/">Home</a></p>
            -
            <p><a href="/"><%= book.genre %></a></p>
            -
            <p><%= book.title %></p>
          </div>
        </li>
      </ul>
    
    <ul class="row">
        <li class="col-lg-2 col-3"></li>
        <li class="col-lg-3 col-8">
          <div class="book-cover">
            <img
              src="https://covers.openlibrary.org/b/isbn/<%= book.id %>-M.jpg"
              alt="<%= book.title %>"
            />
          </div>
        </li>
        <li class="col-lg-5 col-12">
          <p><%= book.title %></p>
          <p><%= book.author %></p>
          <p><%= book.description %></p>
          <p><%= book.rate %></p>
          <button>Edit</button>
          <button>Delete</button>
        </li>
        <li class="col-lg-2 col-2"></li>
      </ul>
  </div>

  <div class="review-container">
    <div class="review-item">
      <h5>Reviews</h5>

      <% if (locals.reviews.length > 0) { %>
      <ul>
        <% reviews.forEach(review => { %>
        <li>
          <p  id="text<%=review.id%>"><%= review.text %></p>

          <form action="/isbn/<%=book.id%>/edit-review" method="POST">
            <input type="hidden" name="id" value="<%= review.id %>">
            <input 
              class="input"
              id="input<%=review.id%>" 
              type="text" 
              name="updatedReview" 
              value="<%= review.text %>" 
              autocomplete="off"
              autofocus="true" 
              hidden="true" />
            <button id="done<%=review.id%>" type="submit" hidden>
              <img width="20" src="/images/check-solid.svg" alt="tick image">
            </button>
            <button id="cancel<%=review.id%>" type="button" hidden  onclick="handler_cancel('<%=review.id%>')">
              Cancel
            </button>
          </form>

          <button id="edit<%=review.id%>" onclick="handler('<%=review.id%>')">
            <img width="20" height="20" src="/images/pencil-solid.svg" alt="pencil image">
          </button>
          <!-- <button>Edit</button> -->

          <form action="/isbn/<%=book.id%>/delete-review" method="POST">
            <input type="hidden" name="id" value="<%= review.id %>">
            <button type="submit" >Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p><%= reviewMessage || "No reviews yet." %></p>
      <% } %>
    </div>

    <hr />

    <div class="review-item">
      <h5>Add a review</h5>
      <div class="form">
        <form action="/isbn/<%=book.id%>/add-review" method="POST" >
          <input type="hidden" name="isbn" value="<%= book.id %>">
          <label for="review">Your review</label>
          <textarea class="input" type="text" name="review" id="review" rows="2" required ></textarea>
          <div class="form-btn">
            <input class="btn third" type="submit" value="Save" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
